 body {
     background-color: #dde7a6ff;
     color: black;
   }
   .tab {
     float: left;
     padding: 10px;
   }
   .nav {
     position: fixed;
     background-color: #8a628aff;
     top: 0;
     left: 0;
     font-size: 25px;
     width: 100%;
     z-index: 100;
   }
   .link {
     padding: 5px;
     transition: background-color 0.5s;
     border-radius: 5px;
   }
   .link:hover {
     background-color: #ad7badff;
     cursor: pointer;
     padding: 5px;
   }
.link:active{
  color: white;
}
