 body {
   }
   .tab {
     float: left;
     padding: 10px;
   }
   .nav {
     position: absolute;
     border-bottom: solid #dde7a6ff;
     top: 0;
     left: 0;
     font-size: 25px;
     width: 100%;
     z-index: 100;
   }
   .link {
     padding: 5px;
     transition: background-color 0.5s;
     border-radius: 5px;
   }
   .link:hover {
     cursor: pointer;
     padding: 5px;
   }
.link:active{
  color: white;
}
